<p>Hijo works!</p>


<!--Interpolación-->
<p>Nombre Tienda: {{varHijo}}</p>


<!--Property Binding-->
<div class="dataBinding">
    <h4>Property Binding</h4>
    <p>Imagen promocional del juego Resident Evil 2</p>
    <img [src]="imagenJuego" [title]="nameImage" [width]="ancho" [height]="alto">
</div>

<!--Event Binding-->
<div class="dataBinding">
    <h4>Event Binding</h4>
    <button [disabled] (click)="eventBinding()">Renombrar Tienda</button>
</div>

<div class="dataBinding">
    <h4>Two Way Binding</h4>
    <input type="text" [(ngModel)] ="juego">
    <p>{{juego | uppercase}} </p>
</div>




<form [formGroup]='juegoForm' (ngSubmit)=submit()>
    <div class="datosJuego">
        <label>Nombre
            <input type="text" formControlName="nombre">
        </label>
        <label>Duracion aproximada
            <input type="int" formControlName="duracion">
        </label>
        <label>Fecha estreno
            <input type="date" formControlName="fechaEstreno">
        </label>
        <label>Descripción
            <textarea formControlName="descripcion" rows="10" cols="50">Inserte descripción del juego</textarea>
        </label>
    </div>

    <div formArrayName="generos">
        <h3>Generos</h3>
        <button type="button" (click)="addGenero()">Agregar genero</button>

        <div *ngFor="let genero of generos.controls; let i = index" class="genero">
            <label>
                Genero <input type="text" [formControlName] ="i">
            </label>
        </div>

    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>

    <!--Propiedad del componente hijo con un valor enviado desde el componente padre-->
    <input [formControl]="nombre">
    <button type="button" (click)="siglasJuego(nombre)">Generar Siglas Juego</button>
    

</form>
